section {
  margin-bottom: 140px;
}

.make-money {
  margin-bottom: 140px;
}

.coin {
  border-radius: 50%;
}

.penny {
  width: 50px;
  height: 50px;
  background-color: brown;
}

.nickle {
  width: 55px;
  height: 55px;
  background-color: lightgrey;
}

.dime {
  width: 40px;
  height: 40px;
  background-color: darkgrey;
}

.quarter {
  width: 90px;
  height: 90px;
  background-color: darkkhaki;
}

/* number 3 */
.light-bulb {
  background-color: #cccccc;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.bright {
  background-color: yellow;
}
